<div class='history-item row-fluid'>
	<div class = 'span6 thumbnail rating<%= history.rating %>'>
		<%= image_tag history.image_url,  :class => 'history-img'%>
	</div>
	<div class='desc span5'>
		<%= history.body %>
	</div>
</div>