<div class='history-item row-fluid'>
	<div class='row-fluid'>
		<div class='span11' >
		<p><a href="<%= history.product_link%>" target="_blank">
			<%= image_tag history.image_url,  :class => "history-img pull-left thumbnail rating#{history.rating}"%>
			</a>
		<%= history.body %></p>
		</div>
	</div>
	<div class='row-fluid'>
		<% for ii in 1..5%>
		<%if ii <=history.rating%>
		<i class='icon-star'></i>
		<%else%>
		<i class='icon-star-empty'></i>
		<%end%>
		<%end%>
	</div>
</div>
<hr/>
