<!-- <h1>Create a new task</h1>

<%= form_for @task, :url => tasks_path, :html => { :multipart => true } do |form| %>
  <input id="task_image" name="task[image]" type="file" />
  <textarea rows="3" name="task[body]" placeholder="Enter description"/>
<% end %> -->
<%= form_for @task, :url => tasks_path, :html => { :multipart => true } do |form| %>
	<fieldset>
		<legend>
			Create a new task
		</legend>
		<label>Upload image of your desired article of clothing</label>
		<input class = "span5" id="task_image" name="task[image]" type="file" />
		<label>Additional information</label>
  		<textarea class="span4" rows="3"  name="task[body]" placeholder="Enter any other details e.g. I want the following in red"></textarea>
		<br>
		<button type="submit" class="btn">
			Submit
		</button>
	</fieldset>
<% end %>

<%= link_to 'Back', tasks_path %>
