$baseFontFamily: 'Nunito', Helvetica, Arial, sans-serif;
$baseFontSize: 18px;

@import "bootstrap";
@import "bootstrap-responsive";

p {
  text-align:"center"
}

// h1 {
  // color: $red;
// }

// #header {
  // margin-top: 20px;
  // margin-bottom: 40px;
  // h1 {font-size: 50px;}
// }
// 
// .navbar {
  // font-style: $baseFontFamily;
  // .navbar-inner {
    // padding: 15px;
    // .brand {
      // color: $red;
      // font-size: 50px;
      // font-weight: bold;
    // }
  // }
// }